* {
  padding: 0px;
}

body {
  background-color: #01FDF6;
}

#Minhas-habilidades {
  font-size: 25px;
}

.info-pessoal div {
  display: inline-block;
  margin: 10px;
}

.info-pessoal p {
  font-family: system-ui, sans-serif;
  width: 300px;
  font-size: 18.5px;
}

.info-pessoal h1 {
  text-align: center;
  font-family: system-ui, sans-serif;
  width: auto;
  text-align: center;
}

.info-pessoal img {
  width: 300px;
  padding: 20px;
  background-color: blue;
}